
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-578721285077467771.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-578721285077467771.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-578721285077467771.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-578721285077467771.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-578721285077467771.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-578721285077467771.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-578721285077467771.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-578721285077467771.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-578721285077467771.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-578721285077467771.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-578721285077467771.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-578721285077467771.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-578721285077467771.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-578721285077467771.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-578721285077467771.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-578721285077467771.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-578721285077467771.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-578721285077467771.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-578721285077467771.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-578721285077467771.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-578721285077467771.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-578721285077467771.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-578721285077467771.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-578721285077467771.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-578721285077467771.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-578721285077467771.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-578721285077467771.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-578721285077467771.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-578721285077467771.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-578721285077467771.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-578721285077467771.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-578721285077467771.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-578721285077467771.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-578721285077467771.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-578721285077467771.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-578721285077467771.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-578721285077467771.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-578721285077467771.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-578721285077467771.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-578721285077467771.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-578721285077467771.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-578721285077467771.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-578721285077467771 .gp-relative{position:relative}.gps-578721285077467771 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-578721285077467771 .gp-mb-0{margin-bottom:0}.gps-578721285077467771 .gp-flex{display:flex}.gps-578721285077467771 .gp-grid{display:grid}.gps-578721285077467771 .\!gp-hidden{display:none!important}.gps-578721285077467771 .gp-hidden{display:none}.gps-578721285077467771 .gp-max-w-full{max-width:100%}.gps-578721285077467771 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-578721285077467771 .gp-flex-col{flex-direction:column}.gps-578721285077467771 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-578721285077467771 .gp-duration-200{transition-duration:.2s}.gps-578721285077467771 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-578721285077467771 .tablet\:\!gp-hidden{display:none!important}.gps-578721285077467771 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-578721285077467771 .mobile\:\!gp-hidden{display:none!important}.gps-578721285077467771 .mobile\:gp-hidden{display:none}}.gps-578721285077467771 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px))"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"color":"rgb(254, 254, 254)","type":"color"}},"uid":"i2l7e6bf0fe47"}' data-id="i2l7e6bf0fe47" id="i2l7e6bf0fe47" data-same-height-subgrid-container class="i2l7e6bf0fe47 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_PRODUCT;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--bgc:rgb(254, 254, 254);--bgi:url();--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="c-APIMgXHxkKXW gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"color":"rgb(254, 254, 254)","type":"color"}},"uid":"APIMgXHxkKXW"}' data-id="APIMgXHxkKXW" id="APIMgXHxkKXW" data-same-height-subgrid-container class="APIMgXHxkKXW gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:1px 1px 1px 1px;--bc:rgb(253, 253, 253);--pageType:GP_PRODUCT;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:8px;--pl:4px;--pb:8px;--pr:16px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:8px;--pl-mobile:0px;--pb-mobile:8px;--pr-mobile:0px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 7fr) minmax(0, 5fr);--gtc-tablet:minmax(0, 7fr) minmax(0, 5fr);--gtc-mobile:minmax(0, 12fr);--bgc:rgb(254, 254, 254);--bgi:url();--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--d-mobile:none"
      class="c-rRAEsbnbFzLr gp-relative gp-flex gp-flex-col"
    >
      
    </div><div
      data-same-height-display-contents
      style="--jc:center;--d-mobile:none"
      class="i2l338c869a65 gp-relative gp-flex gp-flex-col"
    >
      
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-578721285077467771 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/vdyagh-ct/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=578603564503401112&sectionId=578721285077467771)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  